
{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- the header starts here  -->

<div class="jumbotron" id="aboutheader" style="background-image: url('{% static 'images/aboutheader2.jpg' %}');">
    <div class="aboutjumbotrontext">
      <h3>Where Innovation Meets Excellence!</h3>
      <p>About Us</p>
    </div>
</div>

<!-- the header ends here  -->

<!-- the first block starts here  -->

<div class="jumbotron" id="aboutfirstjumbo">
          <div class="container">
                 <div class="row">
                          <div class="col-md-6">
                                <div class="aboutfirsttext">
                                    <h6>We Are</h6>
                                    <h2>Kweba Tech-Hub</h2>
                                    <p>Kweba Tech Hub is a dynamic and forward-thinking tech company that specializes in a diverse range of cutting-edge services.
                                    Our team of talented and passionate professionals is driven by the desire to create meaningful and impactful solutions that address the evolving needs of our clients.
                                    </p>
                                </div>
                           </div>

                          <div class="col-md-6">
                              <div class="aboutfirstfill">
                                  <img src=" {% static 'images/about.png' %} "  alt="no image found">
                              </div>
                          </div>
                  </div>
        </div>
</div>

<!-- the first block ends here  -->

<!-- the second block starts here  -->

<div class="jumbotron" id="aboutsecondjumbo">
          <div class="container">
                 <div class="row">
                          <div class="col-md-6">
                                    <div class="aboutsecondfill">
                                      <img src=" {% static 'images/about1.png' %} "  alt="no image found">
                                    </div>
                          </div>

                          <div class="col-md-6">
                                    <div class="aboutsecondtext">
                                        <h2>Vision</h2>
                                        <p>
                                          To be at the forefront of technological transformation in Africa, empowering individuals, businesses, and communities to embrace innovation, thrive in the digital age, and drive sustainable growth across the continent.
                                        </p>
                                        <br>
                                        <h2>Mission</h2>
                                        <p>
                                          At Kweba Tech Hub, our mission is to be a trusted partner in driving digital empowerment and technological excellence in Africa.
                                        </p>

                                    </div>
                          </div>
                  </div>
          </div>
</div>

<!-- the second block ends here  -->

<!-- the third block starts here  -->

<div class="jumbotron" id="aboutthirdjumbo">
          <div class="container" >
              <div class="row">
                  <div class="col-md-6">
                    <div class="aboutthirdtext">
                          <h2>Our Expertise</h2>

                          <h6>With a comprehensive suite of services, we cater to a wide array of industries, including:</h6>
                          <p> 
                          <ul class="aboutthirdbulletpoint">
                            <li> <strong>UI/UX Design:</strong> We believe that great design can enhance user experiences and elevate brands. Our creative team crafts visually stunning and intuitive user interfaces that captivate audiences and drive engagement.</li>
                            <br>
                            <li> <strong>Software Development:</strong> Our expert developers are adept at turning ideas into reality. Whether it's web applications, mobile apps, or custom software, we build robust and scalable solutions tailored to your specific requirements.</li>
                            <br>
                            <li> <strong>Crypto Trading: </strong>In the fast-paced world of cryptocurrencies, we offer specialized insights and services that help our clients navigate the crypto market efficiently and effectively.</li>
                             <br>
                            <li><strong>Business Development:</strong> Partner with us to unlock your company's potential. Our business development experts employ strategic planning and market analysis to fuel growth and expand your reach.</li>
                            <br>
                            <li><strong>Project Management: </strong>From inception to completion, our skilled project managers ensure that every project is executed seamlessly, meeting deadlines and exceeding expectations.</li>
                          </ul>
                        </p>

                    </div>
                  </div>

                  <div class="col-md-6">
                      <div class="aboutthirdimage">
                          <img src=" {% static 'images/expertise.png' %} "  alt="no image found">
                      </div>
                  </div>
             </div>
      </div>
</div>

<!-- the third block ends here  -->

<!--  let the forth column start here   -->

<div class="jumbotron" id="aboutforthjumbo">
      <div class="container">
              <div class="row">
                          <div class="col-md-1">  <!-- 3 is the width of the left side -->
                          </div>

                            <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                                  <div id="aboutforthtext">
                                    <h2>Our Approach</h2>
                                    <br>
                                    <p>
                                      Innovation lies at the core of everything we do.
                                      <br>We are committed to staying at the forefront of technological advancements, adopting the latest tools and methodologies to deliver cutting-edge solutions.
                                      Collaborating closely with our clients, we take a user-centric approach to create products that delight and make a lasting impact.
                                    </p>
                                   </div>
                             </div>

                             <div class="col-md-1">  <!-- 3 is the width of the left side -->
                             </div>
                </div>
        </div>
  </div>

  <!--  let the forth column end here   -->

  <!-- the fifth block starts here  -->

<div class="jumbotron" id="aboutfifthjumbo">
          <div class="container" >
                 <div class="row">
                          <div class="col-md-6">
                              <div class="aboutfifthimage">
                                  <img src=" {% static 'images/expertise2.png' %} "  alt="no image found">
                              </div>
                          </div>

                          <div class="col-md-6">
                                <div class="aboutfifthtext">
                                      <h3>Why Choose Kweba Tech Hub?</h3>
                                      <p>
                                          <ul class="aboutfifthbulletpoint">
                                                <li> <strong>Diverse Expertise:</strong> Our multifaceted team brings together a wealth of knowledge and experience across various domains, allowing us to provide holistic solutions tailored to your unique needs.
                                                <br>
                                                <li> <strong>Quality and Precision:</strong> We are relentless in our pursuit of excellence. Each project undergoes rigorous testing and quality checks, ensuring that the final deliverable is nothing short of exceptional.
                                                <br>
                                                <li> <strong>Client-Centric Approach:  </strong> Your success is our priority. We value open communication and actively involve our clients throughout the development process, ensuring that your vision is brought to life.
                                                 <br>
                                                <li><strong>Confidentiality and Security: </strong> We understand the sensitivity of your projects and prioritize data security and confidentiality. Your trust is paramount, and we take every measure to safeguard your information.
                                                <br>
                                          </ul>
                                    </p>
                               </div>
                          </div>
             </div>
      </div>
</div>

<!-- the fifth block ends here  -->

  <!-- the sixth block starts here  -->

<div class="jumbotron" id="aboutsixthjumbo">
        <div class="container">
              <div class="row">
                          <div class="col-md-1">  <!-- 3 is the width of the left side -->
                          </div>

                            <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                                  <div id="aboutsixthtext">
                                          <h3>Let's Shape the Future Together!!!</h3>
                                          <br>
                                          <p>
                                            At Kweba Tech Hub, we don't just build products; we forge lasting partnerships.
                                            <br>Join us on this transformative journey as we harness technology to create a brighter and more connected world.
                                            <br>Together, we'll redefine what's possible and leave a lasting mark on the digital landscape.
                                          </p>
                                          <br>
                                             <div>
                                             <a href="{% url 'contact' %}" <button type="submit" class="btn btn-primary">Contact Us</button></a>
                                             </div>
                                 </div>
                           </div>

                         <div class="col-md-1">  <!-- 3 is the width of the left side -->
                         </div>
            </div>
        </div>
  </div>

  <!-- the sixth block ends here  -->

{% endblock %}
