
{% extends 'base.html' %}
{% load static %}

{% block body %}


<!-- the header starts here  -->

  <div class="jumbotron" id="businessjumbotron" style="background-image: url('{% static 'images/businessheader.jpg' %}');">
    <div class="businessheadercell">
    <h3>Unlocking Opportunities, Driving Growth  </h3>
    <p>Business Development</p>
    </div>
  </div>

  <!-- the header ends here  -->

  <!-- the first block starts here  -->

  <div class="container">
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="businessfirstblocktext">
                      <h3>Let's Ignite Your Business Growth</h3>
                        <p>
                          At Kweba Tech Hub, we believe that every business has the potential for growth and success.
                          <br>Our Business Development services are designed to unlock that potential by providing strategic guidance, market insights, and innovative solutions tailored to your unique goals and challenges.
                        </p>
                   </div>
                   <br>
             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>
          </div>
  </div>

  <!-- the first block ends here  -->

  <!-- the second block starts here  -->


  <div class="jumbotron" id="businesssecondblockjumbotron" >
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="businesssecondblockfill">
                          <img src=" {% static 'images/business1.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="businesssecondblocktext">
                          <h3>Our Approach</h3>
                          <br>
                          <p>
                            <strong>Comprehensive Market Analysis:</strong> Our business development experts conduct in-depth market research and analysis to gain a deep understanding of your industry, competitors, and target audience.
                              This enables us to identify opportunities and formulate data-driven strategies.
                          </p>
                          <p>
                            <strong>Strategic Planning:</strong> We work closely with you to define clear and achievable business objectives.
                              Our team develops strategic roadmaps that outline the steps needed to achieve your goals and maximize your business potential.
                          </p>
                          <p>
                            <strong>Custom Solutions:</strong> We understand that every business is different.
                            Our solutions are customized to suit your specific needs, ensuring that our strategies align with your company's vision and values.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>

  <!-- the second block ends here  -->

  <!-- the third block starts here  -->

  <div class="jumbotron" id="businessthirdblockjumbotron" >
            <div class="container" >
                <div class="row">


                    <div class="col-md-6">
                        <div class="businessthirdblocktext">
                            <h3>Our Services</h3>
                            <br>
                            <p>
                               <strong>Market Entry Strategies:</strong> If you're looking to expand into new markets, our experts can help you navigate the complexities of market entry.
                                 We develop tailored strategies that mitigate risks and position your brand for success.
                                 </p>
                            <p>
                              <strong>Product and Service Launch:</strong> Launching a new product or service requires careful planning and execution.
                                We can assist you in crafting compelling launch strategies that generate excitement and drive customer engagement.
                            </p>
                            <p>
                              <strong>Partnerships and Alliances:</strong> Strategic partnerships can be a catalyst for growth.
                                We identify potential partners and alliances that align with your business objectives, fostering mutually beneficial collaborations.
                            </p>
                            <p>
                              <strong>Sales and Marketing Optimization:</strong> Our team analyzes your sales and marketing processes to identify areas for improvement.
                                We implement data-driven strategies to optimize your sales funnel and enhance customer acquisition.
                            </p>
                            <p>
                              <strong>Brand Identity and Positioning:</strong> Your brand is a crucial asset in the competitive market.
                                We help you define a strong brand identity and positioning that resonates with your target audience, increasing brand loyalty and recognition.
                        </div>
                    </div>

                    <div class="col-md-6">
                          <div class="businessthirdblockfill">
                            <img src=" {% static 'images/business2.png' %} "  alt="no image found">
                          </div>
                    </div>

               </div>
            </div>
  </div>


    <!-- the third block ends here  -->

      <!-- the forth block starts here  -->

  <div class="jumbotron" id="businessforthblockjumbotron" >
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="businessforthblockfill">
                          <img src=" {% static 'images/business3.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="businessforthblocktext">
                          <h3>
                            Why Choose Our Business Development Services?
                          </h3>
                          <br>
                          <p>
                            <strong>Experienced Team:</strong> Our business development team brings a wealth of experience and expertise across diverse industries.
                              With their guidance, you can make informed decisions that drive your business forward.
                          </p>
                          <p>
                            <strong>Holistic Approach:</strong> We consider all aspects of your business, from market analysis to operational efficiency, to create integrated and sustainable growth strategies.
                         </p>
                          <p>
                            <strong>Data-Driven Decisions:</strong> Our strategies are based on solid data and market insights.
                              This ensures that every decision is backed by evidence and has a higher chance of success.
                          </p>
                          <p>
                            <strong>Long-Term Partnerships:</strong> We are invested in your success.
                            As your business evolves, our team will be there to support you with ongoing consulting and guidance.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>


      <!-- the forth block ends here  -->

        <!-- the fifth block starts here  -->
  <div class="jumbotron" id="businessfifthblockjumbotron">

  <div class="container" >
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="businessfifthblocktext">
                      <h3>Are you ready to take your business to new heights?</h3>
                        <p>
                           Kweba Tech Hub's Business Development services are designed to provide the expertise and support you need to achieve your goals.
                          Let's collaborate and embark on a transformative journey that fuels innovation, drives growth, and positions your business for long-term success.
                          <br>Contact us today to explore the endless possibilities for your business!
                        </p>
                        <a href="{% url 'contact' %}" <button type="submit" class="btn btn-primary">Contact Us</button></a>
                   </div>
                   <br>

             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>

          </div>

  </div>
    </div>

  <!-- the fifth block ends here  -->



{% endblock %}
