
{% extends 'base.html' %}
{% load static %}

{% block body %}



<!-- the header starts here  -->

  <div class="jumbotron" id="cryptojumbotron" style="background-image: url('{% static 'images/cryptoheader3.jpg' %}');">
    <div class="cryptoheadercell">
    <h3>Where Financial Opportunities Meet Technological Expertise!</h3>
    <p>Crypto Trading</p>
    </div>
  </div>

  <!-- the header ends here  -->

  <!-- the first block starts here  -->
  <div class="jumbotron">
  <div class="container">
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="cryptofirstblocktext">
                      <h3>Unlock the Potential of Cryptocurrencies</h3>
                        <p>
                          At Kweba Tech Hub, we understand the rapidly evolving landscape of cryptocurrencies and blockchain technology.
                          <br>Our Crypto Trading Services are designed to empower individuals and businesses with the knowledge and tools to navigate the exciting world of digital assets effectively.
                        </p>
                   </div>
                   <br>
             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>
          </div>
  </div>
    </div>

  <!-- the first block ends here  -->

  <!-- the second block starts here  -->


  <div class="jumbotron" id="cryptosecondblockjumbotron" >
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="cryptosecondblockfill">
                          <img src=" {% static 'images/trading7.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="cryptosecondblocktext">
                          <h3>Our Approach</h3>
                          <br>
                          <p>
                            <strong>Education-First Philosophy:</strong> We believe in empowering our clients with knowledge.
                              Our approach to crypto trading starts with comprehensive education, ensuring that you understand the fundamentals, risks, and potential rewards of this dynamic market.
                          <p>
                            <strong>Data-Driven Strategies:</strong> Our team of experienced traders utilizes data-driven strategies and cutting-edge analytics tools to make informed decisions.
                              We combine technical analysis, market trends, and sentiment analysis to identify optimal entry and exit points.
                          </p>
                          <p>
                            <strong>Risk Management:</strong> Cryptocurrency markets can be highly volatile.
                              We emphasize risk management in all our trading strategies, setting stop-loss levels, and employing risk mitigation techniques to protect your investment.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>

  <!-- the second block ends here  -->

  <!-- the third block starts here  -->

  <div class="jumbotron" id="cryptothirdblockjumbotron" >
            <div class="container" >
                <div class="row">


                    <div class="col-md-6">
                        <div class="cryptothirdblocktext">
                            <h3>Our Services</h3>
                            <br>
                            <p>
                               <strong>Crypto Trading Signals:</strong> Receive real-time trading signals based on our expert analysis.
                                 Our signals provide insights into potential trading opportunities, helping you make informed decisions.
                            <p>
                              <strong>Portfolio Management:</strong> Let our experienced traders manage your crypto portfolio for optimal growth and risk management.
                                We offer tailored strategies to suit your risk tolerance and investment goals.
                            </p>
                            <p>
                              <strong>Cryptocurrency Market Insights:</strong> Stay updated with the latest market trends and insights through our research and analysis reports.
                                We keep you informed of significant developments and opportunities in the crypto space.
                            </p>

                        </div>
                    </div>



                    <div class="col-md-6">
                          <div class="cryptothirdblockfill">
                            <img src=" {% static 'images/trading2.png' %} "  alt="no image found">
                          </div>
                    </div>

               </div>
            </div>
  </div>

  <!-- the third block ends here  -->

    <!-- the forth block starts here  -->
  <div class="jumbotron"  id="cryptoforthjumbo">
  <div class="container">
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="cryptoforthblocktext">
                      <h3>Kweba Academy</h3>
                      <br>
                        <p>
                          As part of our commitment to education, we offer an exclusive link to Kweba Academy – our knowledge hub for crypto enthusiasts.
                          Kweba Academy provides comprehensive courses, tutorials, and webinars on various crypto-related topics, including blockchain technology, cryptocurrency trading strategies, and market analysis.
                        </p>

                   </div>
                   <br>

             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>

          </div>

  </div>
  </div>

  <!-- the forth block ends here  -->

    <!-- the fifth block starts here  -->

  <div class="jumbotron" id="cryptofifthblockjumbotron" >
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="cryptofifthblockfill">
                          <img src=" {% static 'images/trading17.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="cryptofifthblocktext">
                          <h3>
                            Kweba Academy Advantages:
                          </h3>
                          <br>
                          <p>
                            <strong>Deepen Your Understanding:</strong> Access in-depth educational resources, tutorials, and guides to grasp the complexities of the crypto market.
                          <p>
                            <strong>Stay Informed:</strong> Get the latest industry insights and updates from expert traders and analysts, enhancing your ability to make informed decisions.
                         </p>
                          <p>
                            <strong>Learn at Your Pace:</strong> Enjoy the flexibility of self-paced learning, allowing you to fit crypto education seamlessly into your schedule.
                          </p>
                          <p>
                            <strong>Community Engagement:</strong> Connect with like-minded individuals and engage in discussions to share knowledge and ideas.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>

  <!-- the fifth block ends here  -->

    <!-- the sixth block starts here  -->

  <div class="jumbotron" id="cryptosixthblockjumbotron" >
            <div class="container" >
                <div class="row">


                    <div class="col-md-6">
                        <div class="cryptosixthblocktext">
                            <h3>Why Choose Our Crypto Trading Services?</h3>
                            <br>
                            <p>
                               <strong>Expertise and Experience:</strong> Our team comprises skilled traders and analysts with a deep understanding of the crypto market.
                                 Benefit from their expertise as we guide you through the intricacies of cryptocurrency trading.
                            <p>
                              <strong>Secure and Reliable:</strong> We prioritize the security of your assets and information.
                                Our trading platform is built with robust security measures, ensuring that your investments are safe.
                            </p>
                            <p>
                              <strong>Continuous Support:</strong> Our commitment to your success extends beyond the initial engagement.
                              We offer ongoing support and assistance to address your queries and keep you updated on the ever-changing crypto landscape.
                            </p>

                        </div>
                    </div>



                    <div class="col-md-6">
                          <div class="cryptosixthblockfill">
                            <img src=" {% static 'images/trading5.png' %} "  alt="no image found">
                          </div>
                    </div>

               </div>
            </div>
  </div>

  <!-- the sixth block ends here  -->

    <!-- the seventh block starts here  -->


  <div class="jumbotron" id="cryptoseventhblock">
      <div class="container" id="cryptoseventhblocktext">
        <h3 >Unlock the Potential of Cryptocurrencies</h3>
        <br>
          <div class="row" >
                <div class="col-md-1">  <!-- 3 is the width of the left side -->
                </div>

                <div class="col-md-5" >
                            <div>
                                    <p>
                                      Whether you're a seasoned crypto enthusiast or just starting on your journey,
                                      Kweba Tech Hub's Crypto Trading Services provide you with the tools and expertise to navigate the cryptocurrency market with confidence.
                                      <br>Join us in exploring the world of digital assets and financial opportunities.


                                    </p>
                              </div>
                </div>



                <div class="col-md-5" >
                      <div>
                        <p>
                          For a deeper understanding of cryptocurrencies and blockchain technology, don't forget to explore Kweba Academy.
                          <br>Enroll in our courses and expand your knowledge to make well-informed decisions in the crypto space.
                        </p>
                      </div>
                </div>

                <div class="col-md-1">  <!-- 3 is the width of the left side -->
                </div>
    </div>
  </div>
  </div>

  <!-- the seventh block ends here  -->

    <!-- the eight block starts here  -->



  <div class="container" id="cryptoeightblockjumbotron">
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="cryptoeightblocktext">
                      <h3>Ready to take the leap?</h3>
                        <p>
                          Contact us today to begin your crypto trading journey with Kweba Tech Hub!
                        </p>
                        <a href="https://kwebaacademy.com/" <button type="submit" class="btn btn-primary">Kweba Academy</button></a>

                   </div>
                   <br>

             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>

          </div>

  </div>


    <!-- the eight block starts here  -->


{% endblock %}
