
{% extends 'base.html' %}
{% load static %}

{% block body %}



<!-- the header starts here  -->
  <div class="jumbotron" id="softwarejumbotron" style="background-image: url('{% static 'images/softwareheader.jpg' %}');">
    <div class="softwareheadercell">
    <h3>Where Creativity Meets Code</h3>
    <p>Software Development</p>
    </div>
  </div>

  <!-- the header ends here  -->

  <!-- the first block starts here  -->
  <div class="jumbotron" id="softwarefirstblock">

  <div class="container">
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="softwarefirstblocktext">
                      <h3>Let's Build the Future Together</h3>
                      <br>
                        <p>
                          At Kweba Tech Hub, we are passionate about turning innovative ideas into robust and scalable software solutions.
                           <br>Our Software Development services are designed to cater to diverse industries, providing tailored solutions that drive efficiency, productivity, and growth for your business.
                        </p>
                   </div>
                   <br>
             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>
          </div>
  </div>
    </div>

  <!-- the first block ends here  -->

  <!-- the second block starts here  -->


  <div class="jumbotron" id="softwaresecondblockjumbotron"  >
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="softwaresecondblockfill">
                          <img src=" {% static 'images/software4.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="softwaresecondblocktext">
                          <h3>Our Approach</h3>
                          <br>
                          <p>
                            <strong>Agile Development:</strong> We follow Agile methodologies to ensure flexibility and adaptability throughout the development process.
                          This approach allows us to deliver incremental updates, incorporate feedback, and respond swiftly to changing requirements.
                          </p>
                          <p>
                            <strong>Collaborative Planning:</strong> We believe in the power of collaboration.
                              <br>Our team collaborates closely with you to understand your vision, goals, and project requirements, ensuring that the final product aligns perfectly with your business objectives.
                          </p>
                          <p>
                            <strong>Quality Assurance:</strong> Quality is at the core of everything we do.
                              <br>Our dedicated quality assurance team conducts rigorous testing at every stage, ensuring that your software is reliable, secure, and free from defects.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>

    <!-- the second block ends here  -->

    <!-- the third block starts here  -->

  <div class="jumbotron" id="softwarethirdblockjumbotron">
            <div class="container" >
                <div class="row">

                    <div class="col-md-6">
                        <div class="softwarethirdblocktext">
                            <h3>Our Services</h3>
                            <br>
                            <p>
                               <strong>Custom Software Development:</strong> Whether you need a web application, mobile app, or desktop software, we have the expertise to bring your unique ideas to life.
                                 Our team excels at crafting tailor-made solutions that address your specific challenges and requirements.
                            <p>
                              <strong>Full-Stack Development:</strong> Our full-stack developers are skilled in both front-end and back-end technologies.
                                From user interfaces to database design and server-side logic, we provide end-to-end development services.
                            </p>
                            <p>
                              <strong>Legacy System Modernization:</strong> If you have an existing legacy system that needs upgrading, our team can help you modernize it.
                                 We leverage the latest technologies to revamp and enhance your system's performance and user experience.
                            </p>
                            <p>
                              <strong>Integration Services:</strong> Seamlessly integrate your software with other applications and systems to streamline processes and enhance functionality.
                                Our experts ensure smooth data flow and communication between various components.
                            </p>
                            <p>
                              <strong>Maintenance and Support:</strong> Our commitment to your project doesn't end with the deployment.
                              We offer ongoing maintenance and support services to ensure that your software remains up-to-date, secure, and optimized.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                          <div class="softwarethirdblockfill">
                            <img src=" {% static 'images/software5.png' %} "  alt="no image found">
                          </div>
                    </div>

               </div>
            </div>
  </div>

  <!-- the third block ends here  -->

    <!-- the forth block starts here  -->

  <div class="jumbotron" id="softwareforthblockjumbotron">
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="softwareforthblockfill">
                          <img src=" {% static 'images/software6.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="softwareforthblocktext">
                          <h3>
                            Why Choose Our Software Development Services?
                          </h3>
                          <br>
                          <p>
                            <strong>Expert Team:</strong> Our team of skilled developers brings a wealth of experience and expertise to the table.
                              With a diverse skill set, we can handle projects of varying complexity and scale.
                          </p>
                          <p>
                            <strong>Innovation-Driven:</strong> We embrace emerging technologies and stay updated with the latest industry trends.
                              This allows us to incorporate cutting-edge features and functionalities into your software solutions.
                         </p>
                          <p>
                            <strong>Timely Delivery:</strong> Time is of the essence in the digital world.
                              We pride ourselves on delivering projects within agreed timelines without compromising on quality.
                          </p>
                          <p>
                            <strong>Transparent Communication:</strong> We value clear and transparent communication.
                            You'll be informed about the progress of your project at every stage, and we welcome your input and feedback throughout the development process.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>

    <!-- the forth block ends here  -->

      <!-- the fifth block starts here  -->
<div class="jumbotron" id="softwarefifthblockjumbotron">

  <div class="container" >
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="softwarefifthblocktext">
                      <h3>Let's Build the Future Together</h3>
                        <p>
                          Empower your business with powerful and innovative software solutions crafted by Kweba Tech Hub.
                          <br>Whether you're a startup with a groundbreaking idea or an established enterprise seeking digital transformation, our Software Development services are tailored to meet your needs.
                           Let's collaborate and create a game-changing software solution that takes your business to new heights.
                          <br>Contact us today to embark on an exciting development journey!
                        </p>
                        <a href="{% url 'contact' %}" <button type="submit" class="btn btn-primary">Contact Us</button></a>
                   </div>
                   <br>

             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>

          </div>

  </div>
  </div>

  <!-- the fifth block ends here  -->



{% endblock %}
