
{% extends 'base.html' %}
{% load static %}

{% block body %}



<!-- the header starts here  -->
  <div class="jumbotron" id="ui_uxjumbotron" style="background-image: url('{% static 'images/uiuxheader.jpg' %}');">
    <div class="ui_uxheadercell">
    <h3> Designing Tomorrow's Experiences Today </h3>
    <p>UI/UX Design</p>
    </div>
  </div>

  <!-- the header ends here  -->

  <!-- the first block starts here  -->
<div class="jumbotron" id="ui_uxfirstblock">
  <div class="container">
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="ui_uxfirstblocktext">
                      <h3>Let's Create a Memorable Experience Together</h3>
                      <br>
                        <p>
                          At Kweba Tech Hub, we understand that design is more than just aesthetics – it's about crafting seamless and delightful experiences that leave a lasting impression on your users.
                          Our UI/UX Design services are meticulously tailored to cater to your specific needs and elevate your digital presence to new heights.
                        </p>
                   </div>
                   <br>
             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>
          </div>
  </div>
  </div>

  <!-- the first block ends here  -->

  <!-- the second block starts here  -->


  <div class="jumbotron" id="ui_uxsecondblockjumbotron" >
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="ui_uxsecondblockfill">
                          <img src=" {% static 'images/uiux1.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6" >
                      <div class="ui_uxsecondblocktext"  >
                          <h3>Our Approach</h3>
                          <br>
                          <p>
                            <strong>User-Centric Design: </strong>We believe that the user should be at the heart of every design decision.
                             Our team takes the time to understand your target audience, their pain points, and their preferences to create intuitive and user-friendly interfaces.
                          </p>
                          <p>
                            <strong>Innovation and Creativity: </strong>Our designers are passionate about pushing the boundaries of creativity.
                            We strive to deliver designs that are not only visually stunning but also innovative and unique, setting you apart from the competition.
                          </p>
                          <p>
                            <strong>Responsive Design: </strong>In today's mobile-driven world, responsive design is essential.
                            Our experts ensure that your interfaces adapt seamlessly across various devices, providing an optimal user experience regardless of the screen size.
                          </p>
                      </div>
                  </div>


               </div>
          </div>
  </div>

  <!-- the second block ends here  -->

  <!-- the third block starts here  -->

  <div class="jumbotron" id="ui_uxthirdblockjumbotron" >
            <div class="container" >
                <div class="row">


                    <div class="col-md-6">
                        <div class="ui_uxthirdblocktext">
                            <h3>Our Services</h3>
                            <br>
                            <p>
                               <strong>User Research and Analysis:</strong> Understanding your users is the foundation of a successful design.
                              We conduct in-depth research and analysis to gain valuable insights into user behavior and preferences, guiding our design decisions.
                            </p>
                            <p>
                              <strong>Wireframing and Prototyping:</strong> Before the final design comes to life, we create detailed wireframes and interactive prototypes.
                              This step allows us to test and refine the user journey, ensuring a smooth and intuitive experience.
                            </p>
                            <p>
                              <strong>Visual Design:</strong> Our talented designers skillfully blend aesthetics with functionality.
                              From eye-catching color schemes to appealing typography, we craft visually striking interfaces that resonate with your brand identity.
                            </p>
                            <p>
                              <strong>Usability Testing:</strong> Ensuring that your design meets user expectations is crucial.
                              We conduct rigorous usability testing to identify any pain points and make iterative improvements for a flawless user experience.
                            </p>
                            <p>
                              <strong>UX/UI Audit and Optimization:</strong> If you already have a design in place but feel it's not performing as expected,
                              our team can conduct a comprehensive audit and provide recommendations for optimizing your UI/UX.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                          <div class="ui_uxthirdblockfill">
                            <img src=" {% static 'images/uiux2.png' %} "  alt="no image found">
                          </div>
                    </div>
               </div>
            </div>
  </div>

  <!-- the third block ends here  -->

    <!-- the forth block starts here  -->

  <div class="jumbotron" id="ui_uxforthblockjumbotron">
            <div class="container" >
                <div class="row">

                  <div class="col-md-6">
                        <div class="ui_uxforthblockfill">
                          <img src=" {% static 'images/uiux3.png' %} "  alt="no image found">
                        </div>
                  </div>

                  <div class="col-md-6">
                      <div class="ui_uxforthblocktext">
                          <h3>
                            Why Choose Our UI/UX Design Services?
                          </h3>
                          <br>
                          <p>
                            <strong>Collaborative Approach:</strong> We believe in open and transparent communication.
                            Our designers work closely with you, incorporating your feedback at every stage, to create a design that aligns perfectly with your vision.
                          </p>
                          <p>
                            <strong>Industry Best Practices:</strong> Our team stays up-to-date with the latest UI/UX trends and best practices.
                            By leveraging our expertise, you can be confident that your design is in line with industry standards.
                         </p>
                          <p>
                            <strong>Conversion-Driven Designs:</strong> Beyond aesthetics, our designs are geared towards driving conversions and achieving your business goals.
                            We strike the perfect balance between user experience and business objectives.
                          </p>
                          <p>
                            <strong>Fast Turnaround:</strong> We understand the value of time in today's fast-paced business environment.
                             Our streamlined design process ensures timely delivery without compromising on quality.
                          </p>
                      </div>
                  </div>


               </div>
            </div>
  </div>

  <!-- the forth block ends here  -->

    <!-- the fifth block starts here  -->
<div class="jumbotron" id="ui_uxfifthblockjumbotron">
  <div class="container" >
        <div class="row">
              <div class="col-md-1">  <!-- 3 is the width of the left side -->
              </div>

              <div class="col-md-10" >  <!-- 6 is the width of the center side -->
                    <div id="ui_uxfifthblocktext">
                      <h3>Let's Create a Memorable Experience Together</h3>
                      <br>
                        <p>
                          Your digital success hinges on delivering exceptional user experiences, and that's where we excel.
                          <br>Whether you're starting from scratch or looking to revamp an existing design, our UI/UX Design services will breathe life into your ideas.
                          <br>Let's collaborate and create a captivating digital journey that captivates your users and sets your brand apart.
                          <br>Get in touch with us today to embark on a transformative design experience!
                        </p>
                        <a href="{% url 'contact' %}" <button type="submit" class="btn btn-primary">Contact Us</button></a>
                   </div>
                   <br>
             </div>
             <div class="col-md-1">  <!-- 3 is the width of the left side -->
             </div>

          </div>

  </div>
</div>
  <!-- the fifth block ends here  -->

{% endblock %}
